* {
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'montserrat';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'montserrat';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 400;
}

#gridContainer{
    font-family: 'montserrat';
    color: #000000;
    }

/* Grid General */

#gridContainer{
    display: grid;
    grid-template-rows: 160px auto auto 300px;
    grid-template-columns: 50% 50%; 
    grid-template-areas: "header header"
    "title title" 
    "main main" 
    "footer footer";          
    }


/* Content */

#navigation{
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    }

.navigation__link{
    margin: 30px;
    font-size: 20px;
    }

#title{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    }

#title{
    background-color: rgb(197, 197, 197);
    font-size: 30px;
    padding: 10px;
    text-align: center;
    }

#main{
    grid-area: main;
        
}

.banner{
    padding: 15px;
    display: flex;
    justify-content: center;
    }    

#text{
    height: 120px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__headline{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    }

.text__paragraph{
    padding: 10px;
    text-align: center;
    
    }

#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
     }

.menu__button{
    padding: 10px 30px;

}

#shopping{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 20px;
    }

.shopping__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#footer{
    grid-area: footer;
    background-color: rgb(197, 197, 197);
}

#footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    }

.footer__info{
    padding: 20px;
      }






 #text
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-template-areas: "header header header header" 
    "title title title title" 
    "image image image image"  
    "subtitle subtitle subtitle subtitle" 
    "menu menu menu menu" 
    "discount discount discount discount"  
    "footer footer footer footer";

    grid-area: header;

    grid-area: 1 , 1 , 2 , 5 ;
    
    display: flex;
    align-content: center;
    justify-content: left;

    grid-area: 1 , 1 , 2 , 2 ;